@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
<<<<<<< HEAD
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
=======
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

.header {
  height: 69px;
  width: 100%;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  font-weight: 700;
  font-size: 2.3rem;
  color: #ffffff;
  z-index: 1;
}

.feed {
  margin: 69px auto 0 auto;
}

/* TELA 1 */

.quizzes-container {
<<<<<<< HEAD
  max-width: 1050px;
  padding-top: 20px;
  margin: 0 auto;
=======
    max-width: 1050px;
    padding-top: 20px;
    margin: 0 auto;
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  color: black;
  padding: 15px 0;
}

.quizzes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 15px;
}

.individual-quizz {
  position: relative;
  transition: opacity 0.1s;
  box-sizing: border-box;
}

.individual-quizz:hover {
  cursor: pointer;
  opacity: 0.9;
}

.cover {
  width: 340px;
  height: 181px;
  border-radius: 5px;
}

.gradient {
  width: 340px;
  height: 181px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.individual-quizz p {
  height: 54px;
  width: 300px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 24px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 17px;
  word-wrap: break-word;
}

@media (max-width: 1085px) {
  .quizzes-container {
    width: 695px;
  }
}

@media (max-width: 695px) {
  .quizzes-container {
    width: 340px;
  }
}

<<<<<<< HEAD
@media (max-width: 376px) {
  .quizzes-container {
    width: min-content;
  }
=======
@media(max-width: 376px) {
    .quizzes-container {
        /* width: min-content; */
        margin-left: 18px;
        margin-right: 18px;
    }
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

/* TELA 2 */

.top-image {
  position: relative;
}

.top-image img {
  width: 100vw;
  height: 227px;
  object-fit: cover;
  object-position: left 25%;
}

.darken {
  position: absolute;
  top: 0;
  height: 227px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

.top-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 46px;
  max-width: 1050;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.feed-quizz {
  margin: 0 auto;
  padding: 42px 0;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
}

/* criei esse result-container e result-title (a baixo) 
já que a div é similar as das perguntas dos quizzes */
.question-container,
.result-container {
  max-width: 760px;
  width: 656px;
  height: fit-content;
  padding: 28px 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question,
.result-title {
  width: 100%;
  height: 138px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.44rem;
  line-height: 27px;
  color: #ffffff;
}

.alternatives-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.alternative {
  width: 48.5%;
  cursor: pointer;
}

<<<<<<< HEAD
.alternative img:hover {
  border: rgba(255, 255, 255, 0) 3px solid;
}

.alternative img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.alternative .text {
  font-weight: 700;
  font-size: 1.16rem;
  line-height: 23px;
  color: #000000;
  padding-top: 8px;
}

.resposta {
=======
.on-hover:hover {
    border: rgba(255, 255, 255, 0) 3px solid;
}

.alternative .image {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.alternative .text {
    font-weight: 700;
    font-size: 1.16rem;
    line-height: 23px;
    color: #000000;
    padding-top: 8px;
    word-wrap: break-word;
}

.non-selected {
    opacity: 0.5;
}

.alternative .right {
    color: #009C22;
}

.alternative .wrong {
    color: #FF4B4B;
}

.resposta {
    display: inherit;
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

.restart,
.go-back {
<<<<<<< HEAD
  width: 260px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  line-height: 25px;
  font-weight: 400;
  transition: opacity 0.2s;
  cursor: pointer;
=======
    width: 260px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    line-height: 25px;
    font-weight: 400;
    transition: opacity 0.2s;
    cursor: pointer;
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

.restart {
  background: #ec362d;
  color: #fff5f4;
  border-radius: 15px;
  margin-bottom: 16px;
}

.go-back {
  color: #818181;
}

.restart:hover,
.go-back:hover {
<<<<<<< HEAD
  opacity: 0.5;
=======
    opacity: 0.3;
}

.hidden {
    display: none;
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

@media (max-width: 676px) {
  .feed-quizz {
    padding: 24px 0;
    gap: 28px;
  }

  .top-image img,
  .darken {
    height: 142px;
  }

  .question-container,
  .result-container {
    width: 100%;
  }

<<<<<<< HEAD
  .question,
  .result-title {
    height: 89px;
  }
=======
    .question-container,
    .result-container {
        width: 100%;
        padding: 18px;
    }
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689

  .top-image p,
  .question {
    font-size: 1.2rem;
    line-height: 22px;
  }

  .alternative .text {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .alternative img {
    height: 113px;
  }

<<<<<<< HEAD
  .restart,
  .go-back {
    width: 220px;
    height: 44px;
    font-size: 1.125rem;
  }
=======
    .restart,
    .go-back {
        width: 220px;
        height: 44px;
        font-size: 1.125rem;
    }
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

/* TELA 3 */
/* TELA 3.1 */

.quiz-maker {
<<<<<<< HEAD
  position: relative;
  top: 200px;
  text-align: center;
  background-color: #fafafa;
=======
    position: relative;
    top: 200px;
    text-align: center;
    background-color: #FAFAFA;

>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

.titulo-pagina {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  top: 140px;
}

<<<<<<< HEAD
.formulario {
  /*box-shadow: rgb(0 0 0 / 5%) 0px 0px 10px 0px;
=======


.formulario {
    /*box-shadow: rgb(0 0 0 / 5%) 0px 0px 10px 0px;
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
    background-color: #fff;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.quiz-maker input {
  width: 564px;
  height: 46px;
  border-radius: 5px;
  margin-bottom: 9px;
  padding-left: 23px;
  font-size: 19px;
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
  color: #bababa;
  border: 1px solid #d1d1d1;
}

.quiz-maker input:first-of-type {
<<<<<<< HEAD
  margin-top: 21px;
=======
    margin-top: 21px;
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

.quiz-maker input:last-of-type {
  margin-bottom: 24px;
}

.enviar-dados button {
  font-style: normal;
  font-size: 21px;
  margin-top: 81px;
  margin-bottom: 15%;
  width: 367px;
  height: 54px;
  border-radius: 15px;
  background-color: #ec362d;
  color: #fff5f4;
  padding-left: 0;
  border: none;
}

h3 {
  display: inline-block;
}

/* TELA 3.1 */

<<<<<<< HEAD
=======

>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
.pergunta1,
.pergunta2,
.pergunta3,
.pergunta4,
.pergunta5,
.pergunta6,
.pergunta7,
.pergunta8,
.pergunta9,
.pergunta10,
.pergunta11,
.pergunta12,
.pergunta13,
<<<<<<< HEAD
.nivel1,
.nivel2,
.nivel3,
.nivel4,
.nivel5,
.nivel6,
.nivel6,
.nivel7,
.nivel8 {
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 10px 0px;
  padding: 21px 0 24px 0;
  background-color: #fff;
  margin-bottom: 24px;
  height: 74px;
  overflow: hidden;
=======
.nivel {
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 10px 0px;
    padding: 21px 0 24px 0;
    background-color: #fff;
    margin-bottom: 24px;
    height: 74px;
    overflow: hidden;
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

.titulos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  padding: 5px 22px 20px 23px;
}

input:nth-of-type(7),
input:nth-of-type(9) {
<<<<<<< HEAD
  margin-top: 32px;
=======
    margin-top: 32px;
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
}

.visivel {
  overflow: visible;
  height: auto;
}

/* TELA 3.2 */

.formulario2 {
<<<<<<< HEAD
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}
=======
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}
>>>>>>> 066f52cd56298dcc8711fab7eff7570a430ac689
