@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

.header {
  height: 69px;
  width: 100%;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 2.3rem;
  color: #ffffff;
  z-index: 1;
}

.feed {
  margin: 69px 0;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TELA 1 */

.quizzes-container,
.my-quizzes-container {
  max-width: 1050px;
  padding-top: 20px;
  margin: 0 auto;
}

.no-my-quizz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 181px;
  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.no-my-quizz p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  width: 250px;
  color: #b9b9b9;
  text-align: center;
}

.create-button {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #ec362d;
  width: 151px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 17px;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  color: black;
  padding: 15px 0;
}

.circle-icon {
  width: 30px;
  height: 30px;
  background: #ec362d;
  border-radius: 15px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.quizzes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 15px;
  margin-bottom: 200px;
}

.individual-quizz {
  position: relative;
  transition: opacity 0.1s;
  box-sizing: border-box;
}

.individual-quizz:hover {
  cursor: pointer;
  opacity: 0.9;
}

.cover {
  width: 340px;
  height: 181px;
  border-radius: 5px;
}

.gradient {
  width: 100%;
  height: 181px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.individual-quizz p {
  height: 54px;
  width: 90%;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 24px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 17px;
  word-wrap: break-word;
}

@media (max-width: 1085px) {
  .quizzes-container,
  .my-quizzes-container {
    max-width: 695px;
  }
}

@media (max-width: 715px) {
  .quizzes-container,
  .my-quizzes-container {
    max-width: 340px;
  }
  .quizzes {
    margin-bottom: 0;
  }
  .cover {
    max-width: 100%;
  }
}

@media (max-width: 376px) {
  .quizzes-container,
  .my-quizzes-container {
    /* width: min-content; */
    margin: 0 1rem;
  }
  body {
    overflow-x: hidden;
  }
  .cover {
    max-width: 100%;
  }
  .individual-quizz {
    width: 100%;
  }
}

/* TELA 2 */

.top-image {
  position: relative;
}

.top-image img {
  width: 100vw;
  height: 227px;
  object-fit: cover;
  object-position: left 25%;
}

.darken {
  position: absolute;
  top: 0;
  height: 227px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

.top-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 46px;
  max-width: 1050;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.feed-quizz {
  margin: 0 auto;
  padding: 42px 0;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
}

.question-container,
.result-container {
  max-width: 760px;
  width: 656px;
  height: fit-content;
  padding: 28px 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.result-container {
  padding: 15px;
}

.question,
.result-title {
  width: 100%;
  height: 138px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.44rem;
  line-height: 27px;
  color: #ffffff;
  padding: 0 20px;
}

.result-title {
  height: 99px;
  margin-bottom: 15px;
}

.alternatives-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.alternative {
  width: 48.5%;
  cursor: pointer;
}

.on-hover:hover {
  border: rgba(255, 255, 255, 0) 3px solid;
}

.alternative .image {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.alternative .text {
  font-weight: 700;
  font-size: 1.16rem;
  line-height: 23px;
  color: #000000;
  padding-top: 8px;
  word-wrap: break-word;
  word-break: break-word;
}

.non-selected {
  opacity: 0.5;
}

.alternative .right {
  color: #009c22;
}

.alternative .wrong {
  color: #ff4b4b;
}

.resposta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.result {
  display: flex;
  justify-content: space-between;
}

.result-image {
  width: 48.5%;
}

.description {
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  display: flex;
  color: #484848;
  word-wrap: break-word;
  word-break: break-word;
  width: 48.5%;
}

.restart,
.go-back {
  width: 260px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  line-height: 25px;
  font-weight: 400;
  transition: opacity 0.2s;
  cursor: pointer;
}

.restart {
  background: #ec362d;
  color: #fff5f4;
  border-radius: 15px;
  margin: 57px 0 16px 0;
}

.go-back {
  color: #818181;
}

.restart:hover,
.go-back:hover {
  opacity: 0.3;
}

.hidden {
  display: none;
}

@media (max-width: 676px) {
  .feed-quizz {
    padding: 24px 0;
    gap: 28px;
  }

  .top-image img,
  .darken {
    height: 142px;
  }

  .question-container,
  .result-container {
    width: 100%;
    padding: 18px;
  }

  .top-image p,
  .question,
  .result-title {
    font-size: 1.2rem;
    line-height: 22px;
  }

  .question {
    height: 90px;
  }

  .alternative .text {
    font-size: 0.8rem;
  }

  .result {
    flex-direction: column;
    gap: 22px;
  }

  .result-image {
    width: 100%;
  }

  .description {
    font-size: 17px;
    line-height: 20px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .alternative img {
    height: 113px;
  }

  .restart,
  .go-back {
    width: 220px;
    height: 44px;
    font-size: 1.125rem;
  }
}

/* TELA 3 */
/* TELA 3.1 */

.quiz-maker {
  position: relative;
  top: 200px;
  text-align: center;
  background-color: #fafafa;
}

.titulo-pagina {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  top: 140px;
}

.formulario {
  /*box-shadow: rgb(0 0 0 / 5%) 0px 0px 10px 0px;
    background-color: #fff;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.quiz-maker input {
  width: 564px;
  height: 46px;
  border-radius: 5px;
  margin-bottom: 9px;
  padding-left: 23px;
  font-size: 19px;
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
  color: #bababa;
  border: 1px solid #d1d1d1;
}

.quiz-maker input:first-of-type {
  margin-top: 21px;
}

.quiz-maker input:last-of-type {
  margin-bottom: 24px;
}

.enviar-dados button {
  font-style: normal;
  font-size: 21px;
  margin-top: 81px;
  margin-bottom: 15%;
  width: 367px;
  height: 54px;
  border-radius: 15px;
  background-color: #ec362d;
  color: #fff5f4;
  padding-left: 0;
  border: none;
}

h3 {
  display: inline-block;
}

/* TELA 3.1 */

.pergunta1,
.pergunta2,
.pergunta3,
.pergunta4,
.pergunta5,
.pergunta6,
.pergunta7,
.pergunta8,
.pergunta9,
.pergunta10,
.pergunta11,
.pergunta12,
.pergunta13,
.nivel1,
.nivel2,
.nivel3,
.nivel4,
.nivel5,
.nivel6,
.nivel6,
.nivel7,
.nivel8 {
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 10px 0px;
  padding: 21px 0 24px 0;
  background-color: #fff;
  margin-bottom: 24px;
  height: 74px;
  overflow: hidden;
}

.titulos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  padding: 5px 22px 20px 23px;
}

input:nth-of-type(7),
input:nth-of-type(9) {
  margin-top: 32px;
}

.visivel {
  overflow: visible;
  height: auto;
}

/* TELA 3.2 */

.formulario2 {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

/* TELA 3.4 */
.enviar-dados .acessar-quizz {
  font-style: normal;
  font-size: 21px;
  margin-top: 81px;
  margin-bottom: 0;
  width: 220px;
  height: 44px;
  border-radius: 15px;
  background-color: #ec362d;
  color: #fff5f4;
  padding-left: 0;
  border: none;
}

.listar-quizz {
  font-style: normal;
  font-size: 21px;
  margin-top: 15px;
  margin-bottom: 10%;
  width: 220px;
  height: 44px;
  background-color: #fafafa;
  color: #818181;
  padding-left: 0;
  border: none;
}

button:hover {
  cursor: pointer;
}
